{
    "printWidth": 120,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "plugins": [
        "prettier-plugin-blade",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindPreserveDuplicates": true,
    "overrides": [
        {
            "files": [
                "*.php"
            ],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
